.card {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: calc(100vh - 180px);
  margin: 60px auto 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}

.img-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-slider .slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; /* Hide all images initially */
  border-radius: 20px;
}

.img-slider .slide.active {
  display: block; /* Show the active image */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgb(254, 216, 183);
}

.next {
  right: 10px;
}

.large-screen-ctn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  color: #fff;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.person-info h2,
.person-info p,
.rate {
  margin: 5px 0;
}

.scale {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.scale {
  display: flex;
  justify-content: center; /* Center scale buttons */
  margin: 10px 0; /* Add top and bottom margin as needed */
  padding: 0 10px; /* Padding inside the scale, adjust as needed */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.scale button {
  background-color: #ddd; /* Neutral color for the buttons */
  color: #333;
  border: none;
  margin: 0 3px; /* Reduce space between buttons */
  padding: 10px 12px; /* Adjust padding to reduce button width */
  border-radius: 5px; /* Rounded corners for buttons */
  cursor: pointer;
  flex: 0 0 auto; /* Don't grow or shrink */
}

.like-notLike {
  position: absolute;
  bottom: 70px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px); /* Reduce width to prevent overflow */
  padding: 10px;
}

.like-notLike img {
  width: 34px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.like-notLike img:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
